@import '../../styles/variables.scss';

.heading {
    & > .heading-wrap__avatar {
        width: 70px;
    }

    & > .heading-wrap__user {
        width: 90%;
        overflow: hidden;

        & > .heading-user {
            margin-top: 10px;
            font-weight: 700;
            font-size: 115%;
            color: $user-name;
        }
    }

    & > .heading-wrap__threedot {
        width: 10%;
        overflow: hidden;
        padding-left: 20px;
        position: relative;

        & > .heading-threedot {
            font-size: 1.5em;
            float: right;
            color: $icon-color;
            position: absolute;
            top: 20%;
            right: 0;
            cursor: pointer;
        }
    }
}

.content-wrap {
    padding: 0 !important;
    margin: 0 !important;
    background-color: $background-color;
    background-size: cover;
    border: 1px solid #f7f7f7;
    max-width: 100%;
    height: calc(100% - 120px);

    & > .messages-wrap {
        width: 100%;
        height: 100%;
        margin: 0 auto;
        overflow-y: auto;
        display: flex;
        flex-direction: column; 
        // align-items: flex-start;

        & > :first-child {
            margin-top: auto !important;
        }
    }

    & > .message-previous {
        margin-top: 2px;
        height: auto;
        width: 100%;
        font-size: 16px;
        text-align: center;
        padding: 10px;
        
        & > .message-previous__text {
            cursor: pointer;
            font-weight: 700;
            color: #BCA37F;
            padding: 10px 7px;
        }
    }
}

.reply-wrap {
    height: 60px;
    max-height: 140px;
    width: 100%;
    background-color: #fff;
    padding: 10px 5px 10px 5px !important;
    margin: 0 !important;
    z-index: 1000;
    display: flex;

    &__picture,
    &__recording,
    &__send {
        padding: 5px;
        position: relative;
        width: 30px;
    }
    
    &__main {
        padding: 5px;
        width: 90%;
    }

    .reply-emoji > svg,
    .reply-picture > svg,
    .reply-recording > svg,
    .reply-send > svg {
        font-size: 1.3em;
        color: $icon-chat-color;
        cursor: pointer;

        &:hover {
            color: $icon-chat-color-weird;
        }
    }

    .reply-picture,
    .reply-recording,
    .reply-send {
        position: absolute;
        bottom: 5px;
    }
}