$main-color: #EAD7BB;
$main-color-weird: #BCA37F;
$scrollbar-thumb-color: #EAD7BB;
$scrollbar-track-color: #CCC8AA;
$scrollbar-thumb-color-hover: #BCA37F;
$text-color: #000;
$text-time-color: rgba(0, 0, 0, 0.4);
$background-color: #fff;
$background-color-receive: #EAD7BB;
$background-color-send: #D2E0FB;;
$icon-color: #fff;
$icon-color-second: #EE9322;
$online-color: #4cd137;
$offline-color: #c23616;
$user-name: #fff;

$font-size-name: 12px;
$font-size-message: 10px;
$font-size-time: 10px;
$font-size-message-time: 10px;

$sm: 37.5em;
$md: 48em;
$lg: 64em;
$xl: 75em;