@import '../../styles/variables.scss';

.avatarWrap {
    height: 100%;
    width: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
    & > .avatar_img {
        position: relative;

        & > img {
            border-radius: 50%;
        }

        & > .onlineIcon {
            position: absolute;
            height: 15px;
            width: 15px;
            border-radius: 50%;
            bottom: -1px;
            right: -3px;
            border: 1.5px solid white;
            background-color: $online-color;
        }

        & > .offline {
            background-color: $offline-color !important;
        }
    }
    
}